/*
Custom Css
*/

.customButtons {
    background-color: #59ab6e !important;
    border: 1px solid #59ab6e !important;
    width: 100%;
    margin-top: 20px;
}

.formRow {
    margin-top: 4%;
}

.profile-link {
    color: #212934 !important;
    text-decoration: none;
}

.profile-link:hover {
    color: #59ab6e !important;
}
