{% extends 'products/base.html' %}


{% block content %}
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:saeedahmadi7714@gmail.com">saeedahmadi7714@gmail.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:+98-910-762-5968">+98 910 762
                        59
                        68</a>
                </div>
                <div>
                    <a class="text-light" href="https://www.linkedin.com/saeed-ahmadi7714/" target="_blank"><i
                            class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="{% url 'products:index' %}">
                Mars
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                 id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products:index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products:about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products:shop' %}">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products:contact' %}">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>

                    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal"
                       data-bs-target="#templatemo_search">
                        <i class="fa fa-fw fa-search text-dark mr-2"></i>
                    </a>

                    <a class="nav-icon position-relative text-decoration-none" href="{% url 'orders:basket' %}">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>
                    </a>

                    <a class="nav-icon position-relative text-decoration-none" href="#">

                        <a href="{% url 'customers:sign_in' %}"><i
                                class="fa fa-fw fa-user text-dark mr-3"></i></a>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                    </a>

                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->
    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    {#    Start product detail#}



    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="/media/{{ product.image }}" alt="{{ product.name }} Image"
                             id="product-detail">
                    </div>
                </div>
                <!-- col end -->

                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2 profile-link">{{ product.name }}</h1>
                            <p class="h3 py-2">{{ product.price }}</p>


                            <h6>Description:</h6>
                            <p>{{ product.description }}</p>


                            <div class="row pb-3">

                                <form action="{% url 'orders:basket' %}" method="POST">
                                    {% csrf_token %}

                                    <input type="hidden" name="product_name" value="{{ product.name }}">

                                    <div class="row">
                                        <div class="col-auto">
                                            <ul class="list-inline pb-3">
                                                <li class="list-inline-item text-right">
                                                    Quantity
                                                    <input type="hidden" name="product_quantity"
                                                           id="product_quantity"
                                                           value="1">
                                                </li>
                                                <li class="list-inline-item"><span class="btn btn-success"
                                                                                   id="btn-minus">-</span></li>
                                                <li class="list-inline-item"><span name="qqq" class="badge bg-secondary"
                                                                                   id="var-value">1</span></li>
                                                <li class="list-inline-item"><span class="btn btn-success"
                                                                                   id="btn-plus">+</span></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-12 justify-content-between d-flex ">

                                        <div class="col-4 d-grid">
                                            <a href="#">
                                                <button type="submit" class="btn btn-success btn-sm productDetailBtn"
                                                        name="submit"
                                                        value="buy">
                                                    Buy
                                                </button>
                                            </a>
                                        </div>

                                        <div class="col-4 d-grid">
                                            <a href="#">
                                                <button type="submit" class="btn btn-success btn-sm productDetailBtn"
                                                        name="addToBasket"
                                                        value="addtocard">Add To Cart
                                                </button>
                                            </a>
                                        </div>

                                    </div>

                                </form>

                            </div>
                            {#                            End form row#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->

    {#End product detail#}


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Mars shop</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            Iran West azerbaijan
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:+98-910-762-5968">+98 910 762 59 68</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">saeedahmadi7714@gmail.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    {#                    <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>#}
                    {#                    <ul class="list-unstyled text-light footer-link-list">#}
                    {#                        <li><a class="text-decoration-none" href="#">Luxury</a></li>#}
                    {#                        <li><a class="text-decoration-none" href="#">Sport Wear</a></li>#}
                    {#                        <li><a class="text-decoration-none" href="#">Men's Shoes</a></li>#}
                    {#                        <li><a class="text-decoration-none" href="#">Women's Shoes</a></li>#}
                    {#                        <li><a class="text-decoration-none" href="#">Popular Dress</a></li>#}
                    {#                        <li><a class="text-decoration-none" href="#">Gym Accessories</a></li>#}
                    {#                        <li><a class="text-decoration-none" href="#">Sport Shoes</a></li>#}
                    {#                    </ul>#}
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="{% url 'products:index' %}">Home</a></li>
                        <li><a class="text-decoration-none" href="{% url 'products:about' %}">About Us</a></li>
                        <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
                        <li><a class="text-decoration-none" href="#">FAQs</a></li>
                        <li><a class="text-decoration-none" href="{% url 'products:contact' %}">Contact</a></li>
                    </ul>
                </div>

            </div>


            <div class="w-100 bg-black py-3">
                <div class="container">
                    <div class="row pt-2">
                        <div class="col-12">
                            <p class="text-left text-light">
                                Copyright &copy; 2021 Mars shop
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

{% endblock %}
